<h5 class="m-2">Modifica Fattura</h5>

<div *ngIf='fattura'>
    <form class="m-3">

           <label class="col" for="">importo</label>
           <input class="m-1" type="text" name='fattura.importo' [(ngModel)]='fattura.importo'>
           <label class="col">Numero</label>
           <input class="m-1" type="text" name='fattura.numero' [(ngModel)]='fattura.numero'>
           <label class="col">Anno</label>
           <input class="m-1" type="text" name='fattura.anno' [(ngModel)]='fattura.anno'>
           <label class="col">Data</label>
           <input class="m-1" type="text" name='fattura.data' [(ngModel)]='fattura.data'>    
   </form>
   <button class="btn btn-info m-2"(click)='clientServ.putSingolaFatturaCliente(fattura.id, fattura)' >Save</button>
  </div>
