
<h1 class="text-center">Sign-Up</h1>

<div class="text-center m-5">
    <h3>Welcome</h3>
    
    <form (ngSubmit)='inviaDatisignUp()'>
        <label class="col">Nome</label>
        <input class="form-control m-1" type="text" name='username' [(ngModel)] ='username'  required>
        <label  class="col">Password</label>
        <input class="form-control m-1" type="text" name='password' [(ngModel)] ='password'  required>
        <label  class="col">Email</label>
        <input class="form-control m-1" type="text" name='email' [(ngModel)] ='email'  required>
        <button  class="btn btn-info m-1" type='submit'>Invia</button>
        
    </form>
    
    </div>
